* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: linear-gradient(45deg, rgb(3, 3, 3), rgb(37, 36, 36));
}
:root {
  --primary-color: #ffffff;
  --secondry-color: #000000;
  --third-color: #242323;
  --forth-color: linear-gradient(45deg, rgb(3, 3, 3), rgb(37, 36, 36));
}

.dark-theme {
  --primary-color: #000000;
  --secondry-color: #ffffff;
  --third-color: #ffffff;
  --forth-color: linear-gradient(45deg, rgb(103, 212, 239), rgb(255, 184, 184));
}
img{
  width: 200px;
}
/* <!-------------------------------------------------- NAVBAR ----------------------------------------------------> */

#nav-menu {
  background-color: var(--primary-color);
position: fixed;
height: 60px;
width: 100%;
}
#nav-menu ul{
  display: flex;
}
#nav-menu ul li{
  list-style: none;
}
#nav-menu ul li a{
  color: var(--secondry-color);
  font-size: 1.3rem;
  text-decoration: none;
}




/* <!-------------------------------------------------- HOME ----------------------------------------------------> */
#home{
  padding-top: 100px;
}

.child1 {
  width: 50%;
  margin: 2rem auto;
  padding: 0 30px;
}

.child2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
}

.child2 img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0px -10px 20px rgb(255, 255, 255);
  animation: tc 3s infinite;
  transition: all 2s;
}

.child2 img:hover {
  width: 310px;
  transform: translateY(-1rem);
  cursor: pointer;
  animation-delay: 300s;
  box-shadow: 1rem 1rem 18em rgb(0, 208, 255);
}

@keyframes tc {
  0% {
    box-shadow: 0px -10px 30px rgb(255, 255, 255);
  }

  33% {
    box-shadow: 0px -10px 80px rgb(255, 255, 255);
  }

  67% {
    box-shadow: 0px -10px 30px rgb(230, 230, 230);
  }

  100% {
    box-shadow: 0px -10px 20px rgb(255, 255, 255);
  }
}




/* <!-------------------------------------------------- ABOUT ----------------------------------------------------> */







/* <!-------------------------------------------------- SKILLS ----------------------------------------------------> */






/* <!-------------------------------------------------- PROJECTS ----------------------------------------------------> */






/* <!-------------------------------------------------- CONTACTS ----------------------------------------------------> */






/* <!-------------------------------------------------- RESUME ----------------------------------------------------> */





/* <!-------------------------------------------------- GitHUB ----------------------------------------------------> */