* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: white;
  background: var(--forth-color);
}

a {
  text-decoration: none;
}

:root {
  --primary-color: #000000;
  --secondry-color: #ffffff;
  --third-color: #ffffff;
  --forth-color: linear-gradient(to right, rgb(103, 212, 239), rgb(255, 184, 184));
  --sixth-color: #ff6310;
  --sun-color: #00000006;
}

.dark-theme {
  --sixth-color: #ffffff;
  --primary-color: #ffffff;
  --secondry-color: #000000;
  --third-color: #242323;
  --forth-color: linear-gradient(45deg, rgb(3, 3, 3), rgb(37, 36, 36));
  --sun-color: #ffffff30;
}

.mainheading {
  font-family: system-ui;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin: 2rem 0;
  text-shadow: 2px 2px 2px black;
  color: white;
}

/* <!-------------------------------------------------- NAVBAR ----------------------------------------------------> */

#nav-menu {
  z-index: 7;
  display: flex;
  background-color: var(--secondry-color);
  position: fixed;
  height: 65px;
  width: 100%;
  margin: auto;
}

#nav-menu ul {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  display: flex;
}

#nav-menu ul li {
  list-style: none;
}

#nav-menu ul li a {
  padding: 10px 27px;
  color: var(--sixth-color);
  font-size: 1.4rem;
  font-family: system-ui;
  text-shadow: 1px 1px 1px var(--primary-color);
}

#nav-menu ul li a:hover {
  text-shadow: 1px 1px 17px white;
}

.fa-sun {
  color: var(--sixth-color);
  padding: 10px;
  font-size: 1.8rem;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: sun;
  transition: all 1s;
}

.darktheme {
  margin: 5px;
  border-radius: 50%;
  top: 0;
  border: 1px solid rgb(255, 99, 15);
  background-color: var(--sun-color);
  left: 0;
  z-index: 11;
  position: fixed;
  cursor: pointer;
}

@keyframes sun {
  0% {
    color: rgb(251, 117, 68);
    rotate: 60deg;
  }

  50% {
    rotate: 180deg;
  }

  100% {
    rotate: 360deg;
  }
}

.fa-house,
.fa-phone,
.fa-rocket,
.fa-address-card,
.fa-file-arrow-down,
.fa-download,
.fa-dice-d20 {
  color: #ff6310;
  margin-right: 4px;
  font-size: 1.3rem;
}


/* <!-------------------------------------------------- HOME ----------------------------------------------------> */


#home {
  padding-top: 12em;
  display: flex;
  width: 90%;
  margin: 0 auto 5em auto;
}

.child1 {
  width: 50%;
  margin: 2rem auto;
  padding: 30px 30px 0 30px;
}

#user-details {
  color: var(--primary-color);
  margin: 1.5rem 0;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1rem rgb(255, 255, 255);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: para;
}

@keyframes para {
  0% {
    color: var(--primary-color);
  }

  100% {
    color: var(--secondry-color);
  }
}

.child2 {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 0 60px;
}

.child2 img {
  width: 310px;
  border-radius: 50%;
  box-shadow: 0px -10px 20px rgb(255, 255, 255);
  animation: tc 3s infinite;
  transition: all 2s;
}

.child2 img:hover {
  width: 310px;
  transform: translateY(-1rem);
  cursor: pointer;
  animation-delay: 300s;
  box-shadow: 1rem 1rem 18em rgb(0, 208, 255);
}

@keyframes tc {
  0% {
    box-shadow: 0px -10px 30px white;
  }

  33% {
    box-shadow: 0px -10px 80px white;
  }

  67% {
    box-shadow: 0px -10px 30px white;
  }

  100% {
    box-shadow: 0px -10px 20px white;
  }
}

.child1 h1 {
  transition: all 1s ease-in-out;
  font-size: 2.6rem;
  background: linear-gradient(90deg, #00dbe0, #fc00ff, #38bbf8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.child1 h2 {
  color: var(--primary-color);
  margin: 1.5rem 0;
  font-size: 1.6rem;
  text-shadow: 1px 1px 1rem rgb(255, 255, 255);
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-name: para;
}

.btn {
  color: var(--primary-color);
  background-color: var(--secondry-color);
  border: 2px solid aqua;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  font-size: 1.4rem;
  transition: all.4s;
}

.btn span {
  color: var(--secondry-color);
}

.btn:hover {
  box-shadow: inset 140px 0 0 0 rgb(152, 165, 251);
  background-color: rgb(255, 252, 252);
  color: var(--secondry-color);
  cursor: pointer;
  border: 2px solid rgb(255, 255, 255);
  transform: translateX(1.5rem);
}

.btn:hover>#resume-link-2 {
  color: white;
}


/* <!-------------------------------------------------- ABOUT ----------------------------------------------------> */


#about {
  text-align: center;
}

#about h1 {
  font-family: system-ui;
  font-size: 3rem;
  text-shadow: 2px 2px 2px black;
}

#about h2 {
  font-family: system-ui;
  color: var(--primary-color);
  width: 60%;
  margin: 1rem auto 3em auto;
  font-size: 1.5rem;
}


/* <!-------------------------------------------------- SKILLS ----------------------------------------------------> */


#skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.skills-child1 {
  display: block;
}

.skills-card {
  margin: 2rem 0;
  display: flex;
}

.name {
  margin: 5px 10px;
  font-size: 2rem;
  color: rgb(83, 83, 83);
}

.name img {
  margin-top: -5px;
  height: 60px;
  object-fit: contain;
  width: 90px;
  background-color: var(--primary-color);
  border-radius: 5% 10%;
  box-shadow: 2px 2px 12px rgb(149, 145, 145), -2px -2px 32px rgb(149, 147, 147);
}

.bar {
  align-items: center;
  height: 40px;
  text-align: center;
  color: var(--primary-color);
  font-size: 2rem;
  padding: 10px 0px;
  margin: 10px 10px 10px 10px;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  transition: all 3s;
  border-radius: 4px;
  box-shadow: 2px 2px 2px white, -2px -2px 2px white;
  background: linear-gradient(to right, rgb(103, 212, 239), rgb(255, 184, 184));
}

.bar p {
  margin-top: -6px;
  color: white;
}

.barhtml {
  animation-name: html;
  width: 85%;
}

@keyframes html {
  0% {
    width: 0%;
  }

  100% {
    width: 85%;
  }
}

.barjs {
  animation-name: js;
  width: 55%;
}

@keyframes js {
  0% {
    width: 0%;
  }

  100% {
    width: 55%;
  }
}

.barcss {
  animation-name: css;
  width: 78%;
}

@keyframes css {
  0% {
    width: 0%;
  }

  100% {
    width: 78%;
  }
}


/* <!-------------------------------------------------- PROJECTS ----------------------------------------------------> */


#projects {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-card {
  color: var(--primary-color);
  border-bottom: 2px double aqua;
  width: 90%;
  margin: 2em auto;
  text-align: center;
  padding-bottom: 2rem;
}
.desc{
  font-size: 1.3rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  background-color: #ecf3ff3b;
  color: rgb(0, 0, 0);
}

.project-card img {
  width: 80%;
  /* filter: blur(1px); */
  box-shadow: 2px 2px 19px rgb(255, 255, 255);
}

.project-card img:hover {
  filter: blur(0px);
  cursor: pointer;
  filter: contrast(10px);
}

.project-card p a {
  font-size: 1.6rem;
  margin: 10px;
  color: var(--primary-color);
}

.project-tech-stack {
  font-weight: 400;
  margin: 10px;
  font-size: 1.3rem;
}

.project-card div {
  display: flex;
  justify-content: center;
}

.project-description {
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 2rem;
  margin: 1rem 0;
  font-family: system-ui;
  color: #ffffff;
}

#morep {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

#more {
  background-color: #f9f2f2;
  text-align: center;
  width: 10%;
  font-weight: 400;
  border-radius: 8px;
  margin: 10px auto 3em auto;
  padding: 5px 0;
  cursor: pointer;
  font-size: 1.6rem;
  color: black;
  transition: all 0.9s;
}

#more:hover {
  box-shadow: inset 0 50px 0 0 rgb(85, 86, 159);
  color: white;
}


/* <!-------------------------------------------------- CONTACTS ----------------------------------------------------> */


#contact {
  background-color: rgba(255, 255, 255, 0);
  width: 70%;
  margin: 3rem auto 6rem auto;
  display: flex;
}

.contact-child-1 {
  width: 100%;
  background-color: #ffffff;
}

.contact-child-1 .email {
  background-color: rgb(158, 229, 255);
  background: linear-gradient(45deg, rgb(158, 229, 255), black);
  width: 150px;
  padding: 10px;
  border-radius: 10px 20px;
  box-shadow: 2px 2px 2px white;
  margin: 0 auto;
  font-size: 1.3rem;
  cursor: pointer;
}

.contact-child-1 .email:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px white;
}

.contact-child-1 .email .fa-paper-plane {
  margin: 0 3px;
}

.contact-child-1 .email a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

.contact-child-1 h1 {
  text-align: center;
  margin: 2rem auto 1.5rem auto;
  font-weight: 400;
  color: black;
}

.contact-child-1 img {
  filter: brightness(1.2);
  margin: 0rem auto 0 auto;
  padding-bottom: 2rem;
  display: block;
  width: 400px;
}

#imghand {
  width: 100px;
  margin: 5px auto 0 auto;
  padding: 0;
}

.contact-child-2 {
  background: url('/image/box-squares.gif')no-repeat center center/cover;
  object-fit: contain;
  opacity: 1;
  content: "";
  z-index: 6;
  width: 100%;
  background-color: rgb(52, 15, 116);
}

.contact-child-2 form {
  margin-top: 2rem;
  color: black;
  display: flex;
  flex-direction: column;
}

.contact-child-2 h1 {
  padding-top: 2rem;
  color: white;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 400;
  text-align: center;
}

.contact-child-2 form input {
  margin: 10px auto;
  display: block;
  width: 60%;
  padding: 10px 0;
  border-top: none;
  border-left: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
  border-right: none;
  border-bottom: 2px solid rgb(170, 168, 168);
}

#resume-link-2 {
  color: var(--primary-color);
}

.btns {
  background-color: white;
  width: 250px;
  margin: 2rem auto 10px auto;
  padding: 7px 10px;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  transition: all .6s;
}

.btns:hover {
  color: white;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: inset 260px 0 0 0 rgb(24, 5, 50);
}

.lindingithub {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.fa-linkedin,
.fa-github-alt {
  padding: 8px;
  background-color: #ffffff3c;
  border: 1px solid white;
  border-radius: 20% 40%;
  margin: 0 5px;
}

#contact-linkedin {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

#contact-github {
  margin: 0 5px;
  color: white;
  font-size: 1.3rem;
}

.fa-linkedin {
  color: rgb(0, 136, 255);
}

#contact-phone,
#contact-email {
  font-family: system-ui;
  margin: 5px 0;
  color: white;
  font-size: 1.3rem;
  text-align: center;
}

#contact-child-2 {
  z-index: 1;
}


/* <!-------------------------------------------------- GitHUB ----------------------------------------------------> */


#githubsection {
  margin: 0 auto;
  display: block;
  width: 70%;
  padding-bottom: 5em;
}

#githubsection img {
  transition: all 0.2s;
  width: 100%;
  object-fit: contain;
  height: 300px;
}

.react-activity-calendar {
  visibility: hidden;
  height: 1px;
  display: flex;
}

.react-activity-calendar img {
  height: 1px;
  width: 1px;
}

.upar {
  transition: all 1s;
  position: fixed;
  top: 21em;
  padding: 10px 16px;
  border-radius: 15px;
  font-size: 1.8rem;
  right: 5px;
}

.fa-up-long {
  color: rgb(249, 249, 249);
  text-shadow: 2px 2px 10px rgb(16, 16, 16);
  animation-name: uparraow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes uparraow {
  0% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(5px);
  }
}