:root {
  --primary-color: #000000;
  --secondry-color: #ffffff;
  --third-color: #ffffff;
  --forth-color: linear-gradient(45deg, rgb(103, 212, 239), rgb(255, 184, 184));
  --sixth-color: #ff6310;
  --seventh-color: #ebebebfb;
}

.dark-theme {
  --primary-color: #ffffff;
  --secondry-color: #000000;
  --third-color: #242323;
  --forth-color: linear-gradient(45deg, rgb(3, 3, 3), rgb(37, 36, 36));
  --sixth-color: #ffffff;
  --seventh-color: #404040;
}

@media (max-width:1200px) {
  #contact {
    width: 90%;
    display: flex;
  }

  #more {
    text-align: center;
    width: 20%;
  }
}


/* ------------------------------------------------BREAKPOINT-------------------------------------------------- */


@media (max-width: 1000px) {
  #home {
    padding-top: 6em;
    display: block;
    width: 90%;
    margin: 0 auto 1em auto;
  }

  #nav-menu {
    width: 100%;
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.563);
  }

  #nav-menu ul li a span {
    display: none;
  }

  #nav-menu ul {
    width: 100%;
    text-align: center;
    display: flex;
    background-color: var(--secondry-color);
  }

  #nav-menu ul li {
    padding: 10px 0;
  }

  .fa-house,
  .fa-phone,
  .fa-rocket,
  .fa-address-card,
  .fa-file-arrow-down,
  .fa-download,
  .fa-dice-d20 {
    color: #ff6310;
    background-color: white;
    font-size: 1.7rem;
    margin: 0 6px;
    box-shadow: 2px 2px 12px black;
    border-radius: 50%;
    padding: 10px;
  }

  #nav-menu ul li a .fa-file-arrow-down {
    padding: 10px 13px;
  }

  .child2 img {
    margin-top: 2rem;
  }

  #home {
    padding-top: 0;
  }

  .mainheading {
    font-size: 2.5rem;
  }

  #about h2 {
    width: 90%;
    margin: 1rem auto 3em auto;
    font-size: 1.5rem;
  }

  #skills {
    display: block;
  }

  #projects {
    margin: 1rem;
    display: block;
  }

  #contact {
    width: 66%;
    display: block;
  }

  #morep {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
}


/* -----------------------------------------------BREAKPOINT--------------------------------------------------- */


@media (max-width:768px) {

  #nav-menu .fa-sun {
    font-size: 1.4rem;
  }

  .child2 {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .child1 {
    width: 70%;
  }

  .skills-card {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column-reverse;
  }

  .desc {
    width: 99%;
    padding: 5px;
    font-size: 1rem;
  }

  .project-card img {
    width: 100%;
  }

  .project-description {
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-size: 1.7rem;
  }

  .project-card p a {
    font-size: 1.2rem;
  }

  .project-tech-stack {
    font-size: 1rem;
  }

  .name img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0 auto;
    height: 60px;
    width: 90px;
  }

  .bar {
    height: 35px;
    font-size: 2rem;
    padding: 10px 0px;
    margin: 10px 10px 10px 10px;
  }

  .bar p {
    margin-top: -10px;
  }

  .resumebtn {
    width: 50%;
    margin: 0 auto;
    display: flex;
  }

  #githubsection {
    width: 80%;
  }
}

/* -------------------------------------------------BREAKPOINT------------------------------------------------- */


@media (max-width:600px) {
  #nav-menu ul li a {
    padding: 10px 5px;
  }

  .mainheading {
    font-size: 2.1rem;
  }

  #nav-menu .fa-sun {
    padding-top: 6px;
    font-size: 1rem;
  }

  #home {
    width: 95%;
    margin: 0 0 1em 0;
  }

  #more {
    width: 30%;
  }

  #about h2 {
    width: 90%;
    margin: 1rem auto 3em auto;
    font-size: 1.1rem;
  }

  .child1 {
    width: 80%;
  }

  #contact {
    width: 90%;
    display: block;
  }
}


/* ------------------------------------------------BREAKPOINT-------------------------------------------------- */


@media (max-width: 500px) {

  .fa-house,
  .fa-phone,
  .fa-rocket,
  .fa-address-card,
  .fa-file-arrow-down,
  .fa-download,
  .fa-dice-d20 {
    font-size: 1.4rem;
    margin: 0 2px;
    padding: 10px;
  }

  #nav-menu ul li a .fa-file-arrow-down {
    padding: 10px 13px;
  }

  .child1 {
    width: 90%;
  }

  .child2 img {
    width: 250px;
  }

  .child2 img:hover {
    width: 260px;
  }

  .desc {
    width: 100%;
  }

}


/* -----------------------------------------------BREAKPOINT-------------------------------------------------- */


@media (max-width: 450px) {
  .mainheading {
    font-size: 1.8rem;
  }

  .child1 {
    width: 86%;
  }

  .child1 h1 {
    font-size: 2rem;
  }

  #user-details {
    font-size: 1.2rem;
    text-align: center;
  }

  #more {
    width: 45%;
  }

  .contact-child-1 img {
    margin: 0rem auto 0 auto;
    padding-bottom: 2rem;
    display: block;
    width: 80%;
  }
}


/* ------------------------------------------------BREAKPOINT-------------------------------------------------- */


@media (max-width: 370px) {
  .fa-house,
  .fa-phone,
  .fa-rocket,
  .fa-address-card,
  .fa-file-arrow-down,
  .fa-download,
  .fa-dice-d20 {
    font-size: 1.3rem;
    margin: 0 2px;
    border-radius: 50%;
    padding: 8px;
  }

  #nav-menu ul li a .fa-file-arrow-down {
    padding: 8px 11px;
  }

  .btns {
    width: 200px;
  }

  .child1 h1 {
    font-size: 1.8rem;
  }

  .child1 {
    text-align: center;
    padding: 0;
    width: 90%;
  }
}

/* -------------------------------------------------ENDPOINT-------------------------------------------------- */