:root {
  --primary-color: #000000;
  --secondry-color: #ffffff;
  --third-color: #ffffff;
  --forth-color: linear-gradient(45deg, rgb(103, 212, 239), rgb(255, 184, 184));
  --sixth-color: #ff6310;
  --seventh-color: #ff6310;
}
.dark-theme {
  --sixth-color: #ffffff;
  --primary-color: #ffffff;
  --secondry-color: #000000;
  --third-color: #242323;
  --forth-color: linear-gradient(45deg, rgb(3, 3, 3), rgb(37, 36, 36));
  --seventh-color: white;
}

@media (max-width:1200px) {
  #contact {
    width: 90%;
    display: flex;
  }
}

@media (max-width: 1000px) {}

@media (max-width: 900px) {

  #home {
    padding-top: 6em;
    display: block;
    width: 90%;
    margin: 0 auto 1em auto;
  }

  #nav-menu {
    height: 360px;
    background-color: var(--secondry-color);
  }

  #nav-menu ul {
    width: 100%;
    text-align: center;
    display: block;
    position: fixed;
  }

  #nav-menu ul li {
    padding: 10px 5px;
  }

  .fa-house,
  .fa-phone,
  .fa-rocket,
  .fa-address-card,
  .fa-file-arrow-down,
  .fa-download,
  .fa-dice-d20 {
    color: var(--seventh-color);
    margin-right: 14px;
  }
  #skills{
    display: block;
  }
  #projects{
    margin: 1rem;
    display:block;
  }
  #contact {
    width: 66%;
    display: block;
  }
}

@media (max-width:750px) {
  #nav-menu .fa-sun {
    font-size: 1.4rem;
  }

  .child2 {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .child1 {
    width: 70%;
  }


}

@media (max-width:600px) {

  #nav-menu ul li a {
    padding: 10px 5px;
    text-align: left;
  }


  #nav-menu .fa-sun {
    padding-top: 6px;
    font-size: 1rem;
  }

  #home {
    width: 95%;
    margin: 0 0 1em 0;
  }

  .child1 {
    width: 80%;
  }
  #contact {
    width: 90%;
    display: block;
  }
}

@media (max-width: 500px) {
  .child1 {
    width: 90%;
  }

  .child2 img {
    width: 250px;
  }

  .child2 img:hover {
    width: 260px;
  }
}

@media (max-width: 450px) {

  .child1 {
    width: 86%;
  }

  .child1 h1 {
    font-size: 2rem;
  }

  .child1 h2 {
    font-size: 1.2rem;
  }

}

@media (max-width: 370px) {
  .child1 h1 {
    font-size: 1.8rem;
  }

  .child1 {
    text-align: center;
    padding: 0;
    width: 90%;
  }

}